@import "tailwindcss";

@source "../**/*.blade.php";
@source "../**/*.js";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
/* Google Font */

@theme {
  --font-sans: 'Roboto', system-ui, sans-serif;
}